application_name=autohat
device_type=qemux86-64
email=
password=
image=/autohat/resin.img
RESINRC_RESIN_URL=resin.io
INITSYSTEM=off
rig_device_id=AK05H2PX
rig_sd_card=/dev/disk/by-id/usb-Mass_Storage_Device_121220130416-0\:0
