application_name=autohat
device_type=qemux86-64
email=
image=/autohat/resin.img
INITSYSTEM=off
password=
proxy_ssh_port=22
requests_verify=False
BALENARC_PROXY_URL=balena-devices.com
BALENARC_BALENA_URL=balena-cloud.com
rig_device_id=AK05H2PX
rig_sd_card=/dev/disk/by-id/usb-Mass_Storage_Device_121220130416-0\:0
